@page
@model FribergsCars.Pages.AdminUsers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/UserDelete.css" />
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <table class="user-details-table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.User.Email)</th>
            <td>@Html.DisplayFor(model => model.User.Email)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.User.Password)</th>
            <td>@Html.DisplayFor(model => model.User.Password)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.User.IsAdmin)</th>
            <td>@Html.DisplayFor(model => model.User.IsAdmin)</td>
        </tr>
        
    </table>
    <form method="post">
        <input type="hidden" asp-for="User.UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>

  
</div>
