@page
@model FribergsCars.Pages.AdminUsers.DetailsModel

@section styles {
    <link rel="stylesheet" href="~/css/UserDetails.css" />
}



<div class="details-container">
    <h1>Details</h1>
    <hr />
    <ul class="user-details-list">
        <li>
            <span class="label">@Html.DisplayNameFor(model => model.User.Email)</span>
            <span class="value">@Html.DisplayFor(model => model.User.Email)</span>
        </li>
        <li>
            <span class="label">@Html.DisplayNameFor(model => model.User.Password)</span>
            <span class="value">@Html.DisplayFor(model => model.User.Password)</span>
        </li>
        <li>
            <span class="label">@Html.DisplayNameFor(model => model.User.IsAdmin)</span>
            <span class="value">@Html.DisplayFor(model => model.User.IsAdmin)</span>
        </li>
        <div class="links-container">
            <a asp-page="./Edit" asp-route-id="@Model.User.UserId">Edit</a> 
            <a asp-page="./Index">Back to List</a>
        </div>
    </ul>
</div>

