@page
@model FribergsCars.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Car.css" />
<h1>Cars</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Brand
            </th>
            <th>
                Model
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th>
                More details
            </th>
            <th>
                Availability
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)$/Day
                </td>
            
                <td>
                    <img src="@Url.Content(item.ImagePath)" alt="Car Image" class="img-fluid" style="width: 100px; height: auto;" />
                </td>

            <td>
                
                <a asp-page="./Details" asp-route-id="@item.CarId">Details</a> 
                
            </td>
                <td>
                    @if(item.Available == true)
                    {
                        <a asp-page="/Orders/Create" asp-route-id="@item.CarId">Rent this car</a>
                    }
                    else
                    {
                        <span style="color: red;">Not Available</span>
                    }

                </td>
        </tr>
}
    </tbody>
</table>
