@page
@model FribergsCars.Pages.AdminCars.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/CarDetails.css" />


<div class="details-container">
    <h1>Details</h1>
    <table class="details-table">
        <tr>
            <td class="label">Brand</td>
            <td>@Html.DisplayFor(model => model.Car.Brand)</td>
        </tr>
        <tr>
            <td class="label">Model</td>
            <td>@Html.DisplayFor(model => model.Car.Model)</td>
        </tr>
        <tr>
            <td class="label">Description</td>
            <td>@Html.DisplayFor(model => model.Car.Description)</td>
        </tr>
        <tr>
            <td class="label">Price</td>
            <td>@Html.DisplayFor(model => model.Car.Price)$/Day</td>
        </tr>
        <tr>
            <td class="label">Available</td>
            <td>@Html.DisplayFor(model => model.Car.Available)</td>
        </tr>
    </table>
    <div class="img-container">
        <img src="@Url.Content(Model.Car.ImagePath)" alt="Car Image" class="img-fluid" />
    </div>
    <div class="links-container">
        <a asp-page="./Edit" asp-route-id="@Model.Car.CarId">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>