@page
@model FribergsCars.Pages.Orders.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/OrderDelete.css" />
<h1>Delete Order</h1>

<h3>Are you sure you want to delete this order?</h3>
<div>
    <h4>Order Details</h4>
    <hr />
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Order.StartDate)</th>
            <td>@Model.Order.StartDate.ToString("yyyy-MM-dd")</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Order.EndDate)</th>
            <td>@Model.Order.EndDate.ToString("yyyy-MM-dd")</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Order.Car)</th>
            <td>@Model.Order.Car.Brand</td>
        </tr>
        

    </table>

    <form method="post">
        <input type="hidden" asp-for="Order.OrderId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
