@page
@using FribergsCars.Data.Models
@model FribergsCars.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders.FirstOrDefault().User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @item.StartDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @item.EndDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
