@page
@using FribergsCars.Data.Models
@model FribergsCars.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model != null)
{
    <p>Active orders:</p>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Car Brand</th>
                <th>Car Model</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.ActiveOrders)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.StartDate.ToString("yyyy-MM-dd")</td>
                    <td>@order.EndDate.ToString("yyyy-MM-dd")</td>
                    <td>@order.Car.Brand</td>
                    <td>@order.Car.Model</td>
                    <td>
                        <div>
                            <a asp-page="/Orders/Delete" asp-route-id="@order.OrderId" asp-route-carId="@order.Car.CarId" asp-route-userId="@HttpContext.Session.GetInt32("UserId")">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Past orders:</p>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Car Brand</th>
                <th>Car Model</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.PastOrders)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.StartDate.ToString("yyyy-MM-dd")</td>
                    <td>@order.EndDate.ToString("yyyy-MM-dd")</td>
                    <td>@order.Car.Brand</td>
                    <td>@order.Car.Model</td>
                </tr>
            }
    </table>
}
else
{
    <p>No orders found for this user.</p>
}

